.tips{
    text-align: center;

    .color-well{
        display: inline-block;
        width: 200px;
        height: 1.5em;
        vertical-align: middle;
        border-radius: 4px;
    }
}